<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Home Finance User WebPage</title>
</head>
<body>
<h1 th:text="'Index Page of User'">Index P@ge User </h1>


<table>
    <thead>
    <tr>
        <th>ID</th>
        <th>First Name</th>
        <th>Last Name</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="user:${users}">
        <td th:text="${user.id}">1</td>
        <td th:text="${user.firstName}">jan</td>
        <td th:text="${user.lastName}">kow</td>


    </tr>
    </tbody>
</table>

</body>
</html>